# Auto detect text files and perform LF normalization
* text=auto
*.unity filter=lfs diff=lfs merge=lfs -text
*.ldtk filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
